/*body {
    color:aliceblue;
    background-color: #333;
}

.pure-form legend {
    color:aliceblue !important;
}

form.pure-form input{
    color:black;
}*/

#id_errors{
    color: black;
    margin: 20px; 
    padding: 10px 10px 10px 30px; 
    border-radius: 5px; 
    background-color: #f88; 
    width:300px;
}

#id_results {
    color: black;
    margin: 20px; 
    padding: 10px; 
    border-radius: 5px; 
    background-color: rgb(89, 231, 23); 
    width:300px;
}